.account-menu {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.dropdown-container {
  display: flex;
  flex-direction: column;

  &__greeting {
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 5px;
  }

  &__my-account{
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 0.8em;

    & > span {
      margin-right: 4px;
    }
  }
}